<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 head">Pitchfork News</div>
    </div>
    {{#each headlines}}
    <div class="headline" data-id={{this._id}}>{{this.headline}}</div>
    <div data-id={{this._id}} style="opacity:0.5; filter:alpha(opacity=50); height:600px; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover; background-image:url({{this.image}};"></div>
    <div class="row inputrow">
        <div class="col-md-6">
            <div class="input">
                <h4 class="react">React -- tell us what YOU think!!!</h4>
                <form role="form" >
                    <div class="form-group" >
                        <input type="text" id={{this.id}} data-id={{this._id}} class="form-control inputbox">
                    </div>
                    <button class="commentsubmit" type="submit" data-id={{this._id}}>Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="commentsarea">
                <h4 class="react">Here's What Others are Saying:</h4>
                <div class="comments" data-id={{this._id}}>
                    {{#each this.comment}}
                        <p>{{this.body}}</p>
                    {{/each}}
                </div>
            </div>
            
        </div>
    </div>

        
    </div>
    {{/each}}
</div>
